@model GetProductsBySalesProfitResponse

@{
    ViewData["Title"] = "ProductsBySalesProfit";
}

<button type="button" class="btn btn-info">
    @Html.ActionLink("Back To Reports", "ChooseReport")
</button>